@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorageService
@implements IDisposable

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@CartService.ProductsInCart.Count</span>
</a>

@code {

    private int GetCartItemsCount()
    {
        return CartService.ProductsInCart.Count;
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged; 
    }

}