@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
           <NavMenu/>
           
       </div>

    <main>
        <div class="top-row px-4">
            <Search/>
            <div class="rest-row">
                <UserButton/>
                <CartCounter/>
            </div>
        </div>
        
       

        
        <div class="p-1">
            
            <article class="content px-4">

                @Body
            </article>
        </div>
    </main>
</div>

