@inject NavigationManager NavigationManager



<div class="input-group">
    <input @bind-value="SearchText" 
           @ref="SearchInputRef" 
           @bind-value:event="oninput" 
           type="search" 
           list="products"
           class="form-control"
           placeholder="Search Products . . ."
           @onkeyup="SearchProducts"
           />
</div>

@code {
    private string SearchText { get; set; } = string.Empty;
    protected ElementReference SearchInputRef { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SearchInputRef.FocusAsync();
        }
    }

    public void SearchProducts(KeyboardEventArgs args)
    {
        if(args.Key.Equals("Enter"))NavigationManager.NavigateTo($"product/search/{SearchText}");
    }

}